<a class="welcomeBanner" href="https://imgur.com/8GKWu8u"><img src="https://i.imgur.com/8GKWu8u.png" title="source: imgur.com" /></a>
<div class="container">
  <div>
    <h1>All the recipes you need!</h1>
    <p>Welcome to your new go to for:</p>
    <ul>
      <li>Healthy recipes</li>
      <li>Supportive community for your weight-loss journey</li>
      <li>Daily tips to keep you on track </li>
    </ul>
  </div>

  <div >
    <div>
      <button class="addButton" (click)="showSignUpForm()">Sign up</button>
      <!--username,userpassword,displayname,weightlossgoal-->
      <div [hidden]="!showSignIn">
        <p>Email: 
          <input type="text" [(ngModel)]="userEmail" placeholder="what's your email?" />
        </p>
        <p>Password:
        <input type="text" [(ngModel)]="userPassword" placeholder="Input password" /></p>
        <p>Display Name: <input type="text" [(ngModel)]="displayName" placeholder="Display name" /></p>
        <p>How much weigh tdo you have to loose: <input type="text" [(ngModel)]="weightLossGoal" placeholder="" /></p>

        <input type="button" value="Submit" (click)="signup()" />
      </div>
    </div>


    <div class="logIn">
      <button class="addButton" (click)="showLoginForm()">Log In</button>
      <div [hidden]="!showLognIn">
        <input type="text" [(ngModel)]="email" placeholder="Email" />
        <input type="text" [(ngModel)]="password" placeholder="Password" />
        <input type="button" value="Submit" (click)="login()" />
      </div>
    </div>
  </div>
  <div>
    <h2>Hottest Recipes</h2>
    <hr />
    <ul *ngFor="let r of recipes" style="list-style: none;">
      <li>{{r.title}} <br /><img src="{{r.foodImage}}" height="300" width="300" /></li>

    </ul>
  </div>
</div>
