<a class="welcomeBanner" href="https://imgur.com/8GKWu8u"><img src="https://i.imgur.com/8GKWu8u.png" title="source: imgur.com" /></a>
<div class="container">
  <div>
    <h1>All the recipes you need!</h1>
    <p>Welcome to your new go to for:</p>
    <ul>
      <li>Healthy recipes</li>
      <li>Supportive community for your weight-loss journey</li>
      <li>Daily tips to keep you on track </li>
    </ul>
  </div>

  <div class="homeButtons">
    <div>
      <button class="addButton" (click)="showSignUpForm()">Sign up</button>
       
      <div [hidden]="!showSignIn">
        <p>
          Username:
          <input type="text" [(ngModel)]="userName" />
        </p>
        <p>Password:
  <input type="text" [(ngModel)]="userPassword" /></p>
        <p>Display Name: <input type="text" [(ngModel)]="displayName" /></p>
        <p>Pounds to lose: <input type="text" [(ngModel)]="weightLossGoal" /></p>

        <input type="button" value="Submit" (click)="signup()" />
      </div>
    </div>


    <div class="logIn">
      <button class="addButton" (click)="showLoginForm()">Log In</button>
      <div [hidden]="!showLognIn">
        <p>Username: <input type="text" [(ngModel)]="email" />
        </p>
        <p>Password: <input type="text" [(ngModel)]="password"  /></p>
        <input type="button" value="Submit" (click)="login()" />
      </div>
    </div>
  </div>
  <div>
    <h2>Hottest Recipes</h2>
    <hr />
    <ul *ngFor="let r of recipes" style="list-style: none;">
      <li>{{r.title}} <br /><img src="{{r.foodImage}}" height="300" width="300" /></li>

    </ul>
  </div>
</div>
