<img class="banner" src="https://i.imgur.com/CrTtvYY.png" title="source: imgur.com" height="300" with="1400" />

<div class="row home-content">
  <div class="col-md-6">
    <div class="welcomeMessage ">
      <div class="col">
        <h2 class="home-title">All the recipes you need</h2>
        <div class="content-container">
          <ul>
            <li>Healthy recipes</li>
            <li>Favorite your top recipes</li>
            <li>Veiw the hottest healthy recipes</li>
            <li>Add your own recipes for others to enjoy!</li>
          </ul>
          </div>
        </div>
      </div>
  </div>

  <div class="col-md-6">
    <div class="welcomeMessage ">
      <div class="col">
        <h2 class="home-title">Track Your Health</h2>
        <div class="content-container">
          <ul>
            <li>Supportive Community</li>
            <li>Set weight loss goals</li>
            <li>Enter your own health stats</li>
            <li>Track and compare current weight to history</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <h2 class="sep-heading">Hottest Recipes</h2>
  <hr />
  <div class="recipeBox row">
    <div *ngFor="let r of ( recipes| slice:recipes.length - 3);">

      <a href="/recipe/{{r.id}}">
        <marquee behavior="scroll" direction="left">
          <img src="{{r.foodImage}}" height="300" width="300" alt="{{r.title}}" />
          <h3>{{r.title}}</h3>
        </marquee>
      </a>

    </div>
  </div>
</div>
