<div *ngIf="user">

  <div class="container">

    <h1>Welcome, {{ user.displayName }}</h1>
    <hr />

    <div class="row widget-row">
      <div class="col-md-4">
        <div class="widget-container center">
          <h3 class="user-weight-head">Weight Goal</h3>
          <i class="fas fa-dumbbell"></i>
          <h4>{{ user.weightLossGoal }} LBS</h4>
        </div>
      </div>

      <div class="col-md-4">
        <div class="widget-container center">
          <h3 class="user-weight-head">Current Weight</h3>
          <i class="fas fa-weight"></i>
          <h4>{{ getCurrentWeight() }} LBS</h4>
        </div>
      </div>

      <div class="col-md-4">
        <div class="widget-container center">
          <h3 class="user-weight-head">% To Goal</h3>
          <div class="pie-container">
            <div class="pieWrapper">
              <div class="pie rightPie"></div>
              <div class="pie leftPie" style="transform:rotate(219deg);"></div>
              <div class="percentOverlay">{{ getWeightPercent() }}%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    test {{ getWeightPercentCSS() }}<br />


    <div>
      <app-new-weight></app-new-weight>
    </div>
    <app-weight-records-list></app-weight-records-list>
    <app-recipe-details></app-recipe-details>
  </div>




</div>

