<div class="col-md-6 signup">
  <div class="text-alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div style="text-align:right">
    <h1>Join the Truffle!</h1>
    <p>
      Username:
      <input type="text" [(ngModel)]="userName" />
    </p>
    <p>
      Password:
      <input type="password" [(ngModel)]="userPassword" />
    </p>
    <p>
      Display Name: <input type="text" [(ngModel)]="displayName" />
    </p>
    <p>
      Ideal Weight: <input type="number" [(ngModel)]="weightLossGoal" />
    </p>

    <input type="button" class="sidebar-button" style="width:50%" value="Submit" (click)="signUp()" />

  </div>
  <div class="col-md-6"></div>
</div>
