/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

/************** CSS Overrides ************/
.text, .buttonInfo {
  color: #004a85 !important;
}

.view {
  border-color: #004a85 !important;
}



/**************************/
a {
color: #0366d6;
}
body {
background: #eee;
}
code {
color: #e01a76;
}

.btn-primary {
color: #fff;
background-color: #1b6ec2;
border-color: #1861ac;
}


.welcomeMessage {
display: inline;
}

.addButton {
display: inline;
}

.welcomeMessage {
font-display: fallback
}



.widget-container.center {
text-align: center;
}
.widget-container {
border: solid 3px #190198;
padding: 30px 0;
}

h3.user-weight-head {
font-size: 38px;
font-weight: bold;
color: #004a85;
}



.widget-container h4 {
font-size: 44px;
font-weight: bold;
}

i.fas {
font-size: 110px;
margin: 15px 10px;
color: steelblue;
}

.widget-container {
border: solid 3px #190198;
padding: 30px 0;
background: #f6f5ff;
box-shadow: 8px 6px 10px #000;
}
h1.user-title {
background: #004a85;
color: #fff;
padding: 15px 15px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
width: 100%;
}

h3.user-title {
font-size: 24px;
font-weight: bold;
background: #004a85;
color: #fff;
padding: 15px 15px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

h4.user-title {
background: #004a85;
color: #fff;
padding: 15px 15px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}
.add-weight-form input {
width: 80%;
margin: 8px 0;
padding: 5px 5px;
text-align: center;
}
.add-weight-form input.button {
  background: #004a85;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: solid 3px #001082;
}
  .add-weight-form input.button:hover {
    background: #001082;
    border: solid 3px #004a85;
  }


.user-container h2.table-title {
background: #004a85;
color: #fff;
text-align: center;
padding: 15px 10px;
margin: 0;
}
.table-col .col-md-3 {
text-align: center;
}
.table-head .head-cols {
border-right: solid 1px #fff;
}
.table-head .col-md-3:last-child .head-cols {
border-right: none;
}
.table-head {
background: #004a85;
color: #fff;
font-weight: bold;
font-size: 18px;
}
.head-cols {
padding: 5px 5px;
}
.col-md-6.login {
  padding-right: 0px;
  padding-left: 15px;
  left:50%;
}
/*.col-md-6.signup {
  padding-right: 0px;
  padding-left: 15px;
  right: 50%;
}*/
.table-col.row .col-md-3 {
  padding-right: 0px;
  padding-left: 0px;
}
.user-table {
border: solid 3px #004a85;
border-top: solid 1px #fff;
}
.user-table .row {
  margin-left: 0px;
  margin-right: 0px;
}
.table-col .table-item {
border-right: solid 1px;
border-top: solid 1px;
display: block;
max-width: 100%;
}
.table-col .col-md-3:last-child .table-item {
border-right: none;
}
.table-item {
font-size: 22px;
font-weight: bold;
padding: 10px 5px;
}
h2.sep-heading {
text-align: center;
}

h2.sep-heading {
background: #004a85;
color: #fff;
padding: 15px 0;
}
.fav-image-container {
width: 100%;
height: 200px;
overflow: hidden;
}
.fav-image-container img {
width: 100%;
min-height: 200px;
}
.user-fav-container {
text-align: center;
margin-top: 15px;
}

a.dark-button {
margin: 8px 0;
padding: 5px 25px;
text-align: center;
border-radius: 5px;
text-transform: uppercase;
background: #004a85;
color: #fff;
font-size: 24px;
font-weight: bold;
border: solid 3px #000a54;
}
.dark-button {
  margin: 8px 0;
  padding: 5px 25px;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  background: #004a85;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: solid 3px #000a54;
}

.dark-button:hover {
  background: #001082;
  border: solid 3px #004a85;
  text-decoration: none;
}

a.dark-button:hover {
  background: #001082;
  border: solid 3px #004a85;
  text-decoration: none;
}

.user-fav-container h3 {
font-size: 30px;
font-weight: bold;
color: #004a85;
margin-top: 5px;
}
.user-fav-container p {
font-weight: bold;
}

h2.home-title {
  background: #004a85;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px 15px;
  margin-top: 30px;
  color: #fff;
  margin-bottom: 0px;
  text-transform: uppercase;
  text-align: center;
}
.home-content li {
  font-size: 18px;
  font-weight: bold;
}
.home-content {
  margin-bottom: 40px;
}

.content-container {
  background: #fff;
  box-shadow: 5px 5px 20px #000;
  padding: 10px 15px;
  padding-top: 20px;
}

/**************** Footer ********************/
.right {
text-align: right;
}
.bottom-footer {
background: #000;
color: #fff;
}
.bottom-footer a {
color: #fff;
}

.bottom-footer p {
margin: 10px 0px;
}
.bottom-footer i {
margin-right: 10px;
}
footer {
background: #7a7a7a;
border-top: solid 3px #4682b4;
box-shadow: 0 1px 21px #000;
color: #fff;
z-index: 999;
position: relative;
}
footer i.fas {
font-size: 28px;
color: #fff;
}
footer p a {
color: #fff;
}

footer p {
margin-bottom: 0;
}
.footer {
margin-top: 15px;
}
footer h4 {
border-bottom: solid 1px;
padding-bottom: 5px;
}
.address i {
float: left;
}
.address {
  clear: both;
}
.address {
border-bottom: solid 1px;
padding-bottom: 5px;
}

/************ Nav ****************/
nav#main-nav {
margin-bottom: 0px !important;
position: fixed;
width: 100%;
background: #fff;
z-index: 999;
top: 0px;
}

.container.main-container {
  padding-top: 125px;
  box-shadow: 8px 8px 19px #000;
  padding-bottom: 60px;
  min-height: 800px;
}

#main-nav a.nav-link {
color: #004d89 !important;
font-weight: bold;
font-size: 20px;
margin-left: 10px;
}
.user-fav-container {
margin-bottom: 40px;
border: solid 3px #004a85;
padding-bottom: 30px;
border-radius: 4px;
box-shadow: 4px 4px 12px #000;
}
h1.main-title {
color: #004a85;
text-transform: uppercase;
font-weight: bold;
}


.user-title.active:hover {
  background-color: #fff;
  color: #004a85
}

.form input, .form select, .form textarea {
width: 100%;
border: solid 2px #004a85;
padding: 3px;
}
.form label {
font-weight: bold;
margin-bottom: 2px;
margin-top: 20px;
}
a:hover {
cursor: pointer;
}
.buttonInfo {
  line-height: 1.1em;
  text-transform: capitalize;
}
.recipe-form.sidebar {
  border-left: solid 2px #a2a2a2;
}
  .recipe-form.sidebar .form {
    float: none;
    padding: 0px 20px;
  }
.sidebar-button {
  background: #004a85;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: solid 3px #001082;
  width: 100%;
  padding: 5px 5px;
}
.sidebar-button:hover {
  background: #001082;
  border: solid 3px #004a85;
}
h3.form-title {
  color: #fff;
  background: #0082c7;
  padding: 10px 5px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
h1.user-title.active:hover {
  cursor: pointer;
}
marquee {
  border: solid 2px #004d89;
  text-align: center;
  display: grid;
  background-size: cover;
  /*background-image: url("https://i.pinimg.com/originals/eb/a7/15/eba71551384e643f83b619a329b5d0f8.jpg");
  background-size: cover;*/


  background-image: url("https://i.pinimg.com/originals/50/af/bf/50afbfbdb10afba8a44219442d235199.jpg");
  background-size: 100%, auto;
  background-position-y: -100px;
}
  marquee h3 {
    background: #004d89;
    margin-bottom: 0px;
    color: #fff;
    padding: 6px 3px;
  }
.recipeBox.row > div {
  margin-right: auto;
  margin-left: auto;
}
.recipeBox.row > div {
  margin-right: auto;
  margin-left: auto;
  box-shadow: 7px 7px 20px #000;
  margin-bottom: 30px;
  max-width: 100%;
}

img.banner {
  width: 100%;
  height: auto;
}

/******************* Media Queries ***********************/

@media screen and (max-width: 1199px) {
  h3.user-weight-head {
    font-size: 32px;
  }
  .recipe-form.sidebar {
    border: none;
  }
  h2.home-title {
      font-size: 25px;
  }
}

@media screen and (max-width: 991px) {
  h2.home-title {
    font-size: 20px;
    padding: 10px 5px;
  }
  .home-content li {
    font-size: 14px;
    font-weight: bold;
  }

  h3.user-weight-head {
    font-size: 38px;
  }
  .row .col-md-4 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  body .col-md-8 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .widget-container.center {
    margin-bottom: 25px;
  }

  .user-table {
    margin-bottom: 35px;
  }

  .address i {
    display: none;
  }

  footer h4 {
    border-bottom: solid 3px;
    margin-top: 25px;
    border-top: solid 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #989898;
    border-radius: 4px;
  }

  .row.footer {
    text-align: center;
  }
}


@media screen and (max-width: 767px) {
  h1.user-title {
    text-align: center;
  }

  .bottom-footer {
    text-align: center;
    margin-top: 20px;
  }

  .col-md-6.right {
    text-align: center;
  }

  .table-col.row .col-md-3 {
    padding-right: 0px;
    padding-left: 0px;
    width: 25%;
  }

  .table-item {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 3px;
  }

  .table-head .head-cols {
    font-size: 14px;
  }

  #main-nav a.nav-link {
    font-size: 15px;
    margin-left: 0px;
  }
  body .container.main-container table.recipe-table td {
    width: 100%;
    display: block;
    border: none;
    text-align: center;
  }
  body .container.main-container table.recipe-table {
    width: 100%;
  }
  table.recipe-table .reccontainer {
    position: relative;
    width: 100%;
    text-align: center;
  }
  table.recipe-table .image {
    margin-left: auto;
    margin-right: auto;
  }
  table.recipe-table .overlay {
    margin-left: auto;
    margin-right: auto;
  }
  table.recipe-table tr {
    display: block;
    border-bottom: solid 2px #007dc5;
    padding: 30px 0px 45px 0px;
  }
  table.recipe-table tr:nth-child(even) {
    background: radial-gradient(#8c8c8c, transparent);
  }
  .rec-rows .col-md-8 {
    padding: 0px;
  }
  .recipe-form.sidebar {
    padding-top: 50px;
  }

}


@media screen and (max-width: 490px) {
  h1.user-title {
    font-size: 30px;
  }

  .table-item {
    font-size: 12px;
    padding: 8px 3px;
  }
}






