<h1>Recipes</h1>

<button class="addButton" (click)="showAddRecipeForm()">Add a Recipe</button>
<div [hidden]="!showAddRecipeButton">
  <label>Recipe Title: </label><br /><input type="text" [(ngModel)]="newTitle" />
  <br />
  <label>Category: </label><br />
  <select [(ngModel)]="newCategory">
    <option>
      Breakfast
    </option>
    <option>
      Lunch
    </option>
    <option>
      Dinner
    </option>
    <option>
      Desert
    </option>
    <option>
      Beverage
    </option>
    <option>
      Snack
    </option>
  </select>
  <br />
  <label>Ingredients: </label><br /><textarea [(ngModel)]="newIngredients"></textarea>
  <br />
  <label>Cooking Instructions: </label><br /><textarea [(ngModel)]="newCookingInstructions"></textarea>
  <br />
  <label>Total Calories</label><br /><input type="number" [(ngModel)]="newTotalCalories" />
  <br />

  <label>Do You Have a URL to a Photo</label><br />
  <select [(ngModel)]="showFoodImage">
    <option>No</option>
    <option>Yes</option>
  </select>
  <br />

  <div *ngIf="showFoodImage === 'Yes'">
    <label>URL to Photo: </label><br /><input type="text" [(ngModel)]="newFoodImage" />
  </div>

  <br />
  <button (click)="addNewRecipe()">Add Recipe</button>
</div>

<table>
  <tr *ngFor="let recipe of recipes">
    <td>
      <img src="{{recipe.foodImage}}" />
    </td>

    <td>
      <button class="view" [routerLink]="['/recipe', recipe.id]">
        <div class="buttonInfo">
          {{recipe.title}}
        </div><br />
        <i class="fas fa-book-open"></i><br />
        <div class="buttonInfo">View Recipe</div>
      </button>
      
    </td>

    <td>
      <div class="calories">
       
        <br /><h2 class="info">Total Calories</h2>
        <br />
        <i class="fas fa-utensils"></i>
        <br /><h2 class="info">{{recipe.totalCalories}}</h2>
      </div>
      
    </td>
  </tr>
</table>











